---
layout: default
---


<h1 class="post-title">{{ page.title }}</h1>


{{ content }}


<hr>


<div class="PageNavigation">
<!---
  {% if page.previous %}
    <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    <br>
  {% endif %}


  {% if page.next %}
    <a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo; </a>
  {% endif %}
--->

  {% assign cat = page.categories[0] %}
  {% assign cat_list = site.categories[cat] %}
  {% for post in cat_list %}
    {% if post.url == page.url %}
    	{% assign pOffset = forloop.index0 | minus: 1 %}
    	{% assign nOffset = pOffset | plus: 2 %}
    	{% if forloop.first == false %}
    	  {% assign next_post = cat_list[pOffset] %}
    	{% endif %}
    	{% if forloop.last == false %}
    	  {% assign previous_post = cat_list[nOffset] %}
    	{% endif %}
    	{% break %}
    {% endif %}
  {% endfor %}



</div>
