---
layout: default
---


<h1 class="post-title">{{ page.title }}</h1>


{{ content }}


<hr>



<!---
<div class="PageNavigation">
  {% if page.previous %}
    <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    <br>
  {% endif %}


  {% if page.next %}
    <a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo; </a>
  {% endif %}
</div>
--->


  {% if page.categories %}
    {% assign category = page.categories[0] %}
    {% assign posts = site.categories[category] %}
    {% for post in posts %}
      {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
      {% endif %}
    {% endfor %}
    {% for post in posts %}
      {% if post_index0 == forloop.index %}
        {% assign next_post = post %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post %}
      {% endif %}
    {% endfor %}
  {% endif %}


  {% if prev_post %}
    <div class="article__previous">
      <a href="{{ site.baseurl }}{{ prev_post.url }}">&laquo; {{ prev_post.title }}</a>
    </div>
  {% endif %}
  text-indent: 40px;
  {% if next_post %}
    <div class="article__next">
      <a href="{{ site.baseurl }}{{ next_post.url }}">Next post: {{ next_post.title }} &raquo; </a>
    </div>
  {% endif %}
